.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  gap: 12px;

  .error {
    font-size: var(--size-small);
    color: #b60000;
  }

  .infos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: fit-content;
    background-color: var(--color-neutral-50);
    border-radius: 24px;
    padding: 24px 20px;
  }

  .contact-group {
    background-color: var(--accent);
    border-radius: 24px;
    padding: 12px 10px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;

    h4 {
      font-weight: 500;
      font-size: large;
    }

    p {
      font-size: smaller;
      transition: color 0.5s ease-in-out;

      &:hover{
        color: var(--hover-text)
      }
    }

    h4 {
      color: var(--hover-text);
    }

    .contact-group_icon {
      border-radius: 50%;
      font-size: x-large;
      padding: 16px;
      background-color: var(--hover-text);
      color: var(--border);
    }
  }
  .aszf_check {
    display: flex;
    flex-direction: row !important;
    margin-top: 12px;

    input {
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 8px;
      background-color: #fff;
      position: relative;
      cursor: pointer;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
      transition: all 0.5s ease-in-out;
    }

    input:checked {
      background-color: var(--hover);
      box-shadow: 0 0 0 2px var(--border);
    }

    input::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 45%;
      width: 7px;
      height: 12px;
      border-width: 0 3px 3px 0;
      border-style: solid;
      border-color: var(--hover-text);
      transform: translate(-50%, -50%) rotate(45deg);
      display: block;
      opacity: 0;
    }

    input:checked::after {
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    label {
      margin-left: 12px;
    }
  }

  .socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .socials {
    .socials-icons {
      display: flex;
      gap: 12px;
      align-items: center;

      a {
        font-size: clamp(1.2rem, 3vw, var(--size_third_title));
        transition: color 0.8s ease;

        &:hover {
          color: var(--hover-text);
        }
      }
    }
  }

  .contact-form_group {
    width: 50%;
    background-color: var(--color-neutral-50);
    height: 100%;
    gap: 24px;
    border-radius: 24px;
    padding: 24px;
  }

  .contact-form {
    display: flex;

    flex-direction: column;
    .input-group {
      margin-top: 18px;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 6px;

      input[type="email"],
      input[type="text"],
      textarea {
        border-radius: 16px;
        padding-right: 12px;
        cursor: pointer;
        font-size: var(--size-text);
        padding-left: 12px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: var(--accent);
        outline: none;

        &:-webkit-autofill {
          -webkit-appearance: none;
          outline: none;
          appearance: none;
          -webkit-box-shadow: 0 0 0 1000px transparent inset;
          color: var(--color) !important;
        }
      }

      input[type="email"],
      input[type="text"],
      input:-webkit-autofill {
        transition: all 0.5s ease-in-out;
        &[type="email"] {
          text-transform: lowercase;
        }
      }

      .valid-check {
        &:valid {
          border-color: #00b612;
          -webkit-box-shadow: 0 0 0 1000px rgba(91, 182, 0, 0.1) inset;

          &::selection {
            background-color: rgba(91, 182, 0, 0.2);
          }
        }

        &:invalid {
          border-color: #b60000;
          -webkit-box-shadow: 0 0 0 1000px rgba(182, 0, 0, 0.2) inset;

          &::selection {
            background-color: rgba(182, 0, 0, 0.2);
          }
        }
      }

      textarea {
        resize: none;
        padding: 1rem;
        max-height: 15rem;
        field-sizing: content;
        scroll-behavior: smooth;
        scrollbar-width: none;
        appearance: none;
      }
    }

    .services {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      background-color: transparent;
      justify-content: start;
      column-gap: 18px;
      row-gap: 8px;

      .service {
        width: fit-content;
        input {
          appearance: none;
        }

        input:checked + label {
          background-color: var(--hover);
          color: var(--hover-text);
          border: 1pt solid var(--border);
        }

        label {
          font-size: var(--size-button);
          font-family: var(--font-default);
          display: flex;
          align-items: center;
          border-radius: 16px;
          padding-right: 12px;
          cursor: pointer;
          padding-left: 12px;
          padding-top: 10px;
          padding-bottom: 10px;
          width: fit-content;
          background-color: var(--accent);
          border: 1pt solid var(--accent);
          -webkit-transition: all 500ms ease-in-out;
          -ms-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
        }
      }
    }

    button {
      font-size: var(--size-button);
      font-family: var(--font-default);
      display: flex;
      align-items: center;
      border-radius: 16px;
      padding-right: 14px;
      cursor: pointer;
      margin-top: 18px;
      padding-left: 14px;
      padding-top: 8px;
      padding-bottom: 8px;
      width: 100%;
      border: 1pt solid var(--border);
      justify-content: center;
      -webkit-transition: background-color 500ms ease-in-out;
      -ms-transition: background-color 500ms ease-in-out;
      transition: background-color 500ms ease-in-out;

      &:hover {
        background-color: var(--hover);
        color: var(--hover-text);
      }

      &:focus {
        outline: none;
        background-color: var(--hover);
      }
    }
  }
}
