@import "tailwindcss";
@import url("./styles/button.module.css");
@import url("./styles/navbar.module.css");

:root {
  --light-background: #e0e0e0;
  --light-primary: #8ad0ff;
  --light-hover: hsla(204, 100%, 79%, 0.15);
  --light-hover-text: #1f4e6d;
  --light-accent: #f4f4f4;
  --light-foreground: #333333;
  --light-color: #333333;
  --light-border: #8ad0ff;

  --size-title: 3rem;
  --size-second_title: 2.5rem;
  --size_third_title: 1.5rem;
  --size-text: 1.2rem;
  --size-button: 1rem;
  --size-small: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--light-background);
    --primary: var(--light-primary);
    --foreground: var(--light-foreground);
    --color: var(--light-color);
    --accent: var(--light-accent);
    --border: var(--light-border);
    --hover: var(--light-hover);
    --hover-text: var(--light-hover-text);
  }
}

html,
body {
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  font-size: var(--size-text);
  box-sizing: border-box;
  min-height: 100dvh;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: var(--font-title);
  text-transform: uppercase;
}

h1 {
  font-size: var(--size-title);
}

h2 {
  font-size: var(--size-second_title);
}

h3 {
  font-size: var(--size_third_title);
}

/*"Bento Grid"*/
.parent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 29px;
  width: 100%;
  border-radius: 24px;
  height: 100%;
}

.parent > * {
  overflow: hidden;
}

.child1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

.child2 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}

/*Pillek*/
.works-pills {
  display: flex;
  width: 100%;
  gap: 6px;
}

.works-pills_pill {
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 16px;
  width: 100%;
  justify-content: center;
  padding: 8px;
  font-family: var(--font-title);
  text-transform: uppercase;
  background-color: var(--accent);
  font-size: var(--font-button);
  background-size: 100% 100%;
  position: relative;
  z-index: 1;
  overflow: hidden;

  p {
    z-index: 3;
  }
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  overflow: hidden;
}

.progress-bar__fill {
  height: 100%;
  background: var(--primary);
  transition: width 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.works-pills_pill[data-active="true"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary);
  height: 100%;
  width: var(--percent);
  z-index: 0;
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1) ease-in-out;
}

/*WORKS szekió div*/
.works {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  height: 100%;
}

.works-section {
  background-color: var(--accent);
  padding: 20px;
  border-radius: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

.works-section .works-section_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 380px;
}

.works .works-section_text .works-section_text_description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.works .works-section_text .button {
  width: fit-content;
}

.works .works-img {
  rotate: 3.85deg;
  position: relative;
  bottom: -14rem;
  right: -4rem;
  border-radius: 24px;
  background-color: var(--accent);
  border: 9pt solid var(--accent);
  box-shadow:
    8px 8px 20px 0 rgba(0, 0, 0, 0.5),
    inset 4px 4px 20px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  aspect-ratio: 16 / 9;
  height: 700px;
  z-index: 1;

  img {
    border-radius: 12px;
    display: block;
  }
}

.slider {
  background-color: var(--primary);
  border-radius: 24px;
  overflow-x: hidden;
  padding: 12px;
}

.slider-container {
  display: flex;
  height: 100%;
  gap: 25px;
  width: max-content;
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.slider:hover .slider-container {
  animation-play-state: paused;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.slider-item {
  flex: 0 0 auto;
  display: flex;
  width: 440px;
  justify-content: center;
  align-items: center;
  padding: 12px 8px;
  background-color: var(--accent);
  border-radius: 24px;
  border: 1pt solid var(--primary);
}

.slider-item img {
  height: 25px;
  width: auto;
}

/*Playground block*/
.playground-block {
  padding: 20px;
  background-color: var(--accent);
  border-radius: 24px;
  max-height: 100%;
  height: calc(100dvh - 104px);
  overflow: scroll;
  scrollbar-width: none;
}

.playground-block-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: repeat(auto-fit, 3fr);
  gap: 24px;
}

.playground-block-grid-block figure {
  border-radius: 24px;
  background-color: white;
  border: 9pt solid white;
  box-shadow:
    0px 4px 4px 0 rgba(51, 51, 51, 0.3),
    inset 3px 3px 20px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  overflow: hidden;
  display: grid;

  &:hover {
    img {
      scale: 105%;
    }
  }
}

.playground-block-grid-block figure img {
  transition: scale 1s ease-in-out;
  width: 100%;
  object-fit: fill;
  scale: 104%;
  height: auto;
  image-rendering: optimizeQuality;
}

/*ITSME BLOCK*/
.itsme-block {
  display: flex;
  padding: 20px;
  background-color: var(--accent);
  border-radius: 24px;
  justify-content: space-between;
}

.itsme-block_flex {
  display: flex;
  flex-direction: column;
  min-height: 340px;
  justify-content: space-between;

  h1 {
    font-size: 3.7rem;
    line-height: 3.5rem;
  }
}

.itsme-block_image {
  max-height: 200px;
  width: auto;
}

/*LETSCOLLAB BLOCK*/
.letscollab-block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 24px;
  justify-content: space-between;

  button {
    width: fit-content;
  }
}

.letscollab-block_flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;

  p {
    max-width: 50%;
    width: 100%;
    text-align: end;
    font-size: var(--size-small);
  }
}

/*Work with block*/
.workwith-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  background-color: var(--accent);
  border-radius: 24px;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.workwith-block h2 {
  position: absolute;
  text-align: center;
  line-height: 35px;
  padding: 20px 0px;
  z-index: 1;
  font-size: 2rem;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--accent);
  border-radius: 24px;
  padding: 24px;

  .error {
    font-size: var(--size-small);
    color: #b60000;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 24px;

    div {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 6px;

      input[type="email"],
      input[type="text"],
      textarea {
        border-radius: 16px;
        padding-right: 12px;
        cursor: pointer;
        font-size: var(--size-text);
        padding-left: 12px;
        background-color: var(--accent);
        padding-top: 6px;
        padding-bottom: 6px;
        border: 1pt solid var(--border);
        outline: none;

        &:-webkit-autofill {
          -webkit-appearance: none;
          outline: none;
          appearance: none;
          -webkit-box-shadow: 0 0 0 1000px transparent inset;
          color: var(--color) !important;
        }
      }

      input[type="email"],
      input[type="text"],
      input:-webkit-autofill {
        &[type="email"] {
          text-transform: lowercase;
        }

        &:valid {
          border-color: #00b612;
          -webkit-box-shadow: 0 0 0 1000px rgba(91, 182, 0, 0.1) inset;

          &::selection {
            background-color: rgba(91, 182, 0, 0.2);
          }
        }

        &:invalid {
          border-color: #b60000;
          -webkit-box-shadow: 0 0 0 1000px rgba(182, 0, 0, 0.2) inset;

          &::selection {
            background-color: rgba(182, 0, 0, 0.2);
          }
        }
      }

      textarea {
        resize: none;
        padding: 1rem;
        max-height: 15rem;
        field-sizing: content;
        scroll-behavior: smooth;
        scrollbar-width: none;
        appearance: none;
      }
    }

    .services {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      background-color: transparent;
      justify-content: start;

      .service {
        width: fit-content;

        input {
          appearance: none;
        }

        input:checked + label {
          background-color: var(--hover);
          color: var(--hover-text);
        }

        label {
          font-size: var(--size-button);
          font-family: var(--font-default);
          display: flex;
          align-items: center;
          border-radius: 16px;
          padding-right: 12px;
          cursor: pointer;
          padding-left: 12px;
          padding-top: 6px;
          padding-bottom: 6px;
          border: 1pt solid var(--border);
          width: fit-content;
          -webkit-transition: background-color 500ms ease-in-out;
          -ms-transition: background-color 500ms ease-in-out;
          transition: background-color 500ms ease-in-out;
        }
      }
    }

    button {
      font-size: var(--size-button);
      font-family: var(--font-default);
      display: flex;
      align-items: center;
      border-radius: 16px;
      padding-right: 12px;
      cursor: pointer;
      padding-left: 12px;
      padding-top: 6px;
      padding-bottom: 6px;
      border: 1pt solid var(--border);
      width: fit-content;
      -webkit-transition: background-color 500ms ease-in-out;
      -ms-transition: background-color 500ms ease-in-out;
      transition: background-color 500ms ease-in-out;

      &:hover {
        background-color: var(--hover);
        color: var(--hover-text);
      }

      &:focus {
        outline: none;
        background-color: var(--hover);
      }
    }
  }
}


/*TODO: RESZPONZIVITÁS!!!! :) */
@media screen and (max-width: 1000px) {
  .parent{
    display: flex;
    flex-direction: column-reverse;
    height: auto;
  }
}